[Unit]
Description=Transmission BitTorrent Daemon
#After=network.target
After=sys-devices-virtual-net-tun0.device
Wants=sys-devices-virtual-net-tun0.device

[Service]
#User=debian-transmission
User=vpn
Group=vpn
Type=simple
ExecStart=/usr/bin/transmission-daemon -f --log-error -g /etc/transmission-daemon
ExecStop=/bin/kill -s STOP $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID


Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
